@{
    ViewData["Title"] = "Solicitudes de Productos";
}
<body style="background-color: #133e70;">  
<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">BUSCO</h1>
</div>
<div>
  <img src="https://www.nicepng.com/png/detail/411-4119078_el-carrito-de-compra-ideal-carritos-de-compra.png" class="img-fluid" alt="...">
</div>
<div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Busco"> 
            <button type="button" class="btn btn-primary">Bienvenido a la Aplicación</button>
            </a>
        </div>
        

        <div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Producto">
                <button type="button" class="btn btn-primary">Agregar  productos</button></a>
        </div>
    </div>
</body>
